@import '../shared/helper';
.home {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #010310;
    header {
        height: px(99);
        background-size: cover;
    }
    main {
        display: grid;
        flex: 1;
        grid-template: "box1 box2 box3 box4" 755fr "box5 box5 box3 box4" 363fr / 366fr 361fr 811fr 747fr;
        grid-column-gap: px(28);
        grid-row-gap: px(28);
        section {
            text-align: center;
            border: 1px solid #0764bc;
            border-radius: 4px;
            box-shadow: 0 0 2px 0 #0e325f, inset 0 0 2px 0 #0e325f;
            background: #0c1139;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                box-shadow: 17px 0 0 -16px #0e325f, -17px 0 0 -16px #0e325f, 0 17px 0 -16px #0e325f, 0 -17px 0 -16px #0e325f, 9px 0 0 -8px #0d4483, -9px 0 0 -8px #0d4483, 0 9px 0 -8px #0d4483, 0 -9px 0 -8px #0d4483;
            }
        }
        .section1 {
            grid-area: box1;
        }
        .section2 {
            grid-area: box2;
        }
        .section3 {
            grid-area: box3;
        }
        .section4 {
            grid-area: box4;
        }
        .section5 {
            grid-area: box5;
        }
    }
}